#page
{
	float:left;
	width: 100%;
	height: 100%;
	background-color:white;
}
#scroll-users  {
	float:left;
	width:95%;
	height: 500px;
	padding:10px;
	overflow-y:auto;
	overflow-x:auto;
}
#scroll-conversation  {
	float:left;
	width:95%;
	height:500px;
	padding:10px;
}
#conversation  {
    margin: 0 auto;  /* zéro ou une autre valeur */
	width:95%;
	height: 100%;
	word-wrap:break-word;
    max-height: 450px;
	min-height: 450px;
	overflow-y: auto;
	overflow-x: hidden;
}

#choiceRoom {
	width: 80px;
}

#data{
	width: 200px;
}

.menuVerticalUsers {
   float:left;
   width:10%;
   border-right:1px solid black;
   height:100%;
   padding:10px;
}

.menuVerticalConversation  {
    float:left;
    width:20%;
    border-right:1px solid black;
    height:100%;
    padding:10px;
}

.background {
    float:left;
    left:37%;
    top:50px;
    width:63%;
    height:570px;
    background-image: url("/images/background.jpeg");
}