#banniere
{
	margin-left: 0px;
	margin-bottom: -25px;
}
#page
{
	width: 1200px;
	margin-left :0px;
	background-color:white;
}
#menu
{
	background-color: black;
	color: lightgrey;
	width: 1200px;
	height: 25px;
}
#titre
{
	width: 1000px;
	text-align: center;
}
#corps
{
	width: 1000px;
}
#cadre1
{
	width: 800px;
	border-style: solid;
	border-width:thin;
	background-color: lightgrey;
}
#droite
{
	text-align: right;
	color: grey;
}
#cadre2
{
	width: 380px;
	border-style: solid;
	border-width:thin;
	background-color: lightgrey;
}
#cadre3
{
	width: 800px;
	border-style: solid;
	border-width:thin;
	background-color: lightgrey;
}
#cadre
{
	width: 400px;
	border-style: solid;
	border-width:thin;
	background-color: orange;
}
#cadre4
{
	width: 380px;
	border-style: solid;
	border-width:thin;
	background-color: lightgrey;
}
#cadre5
{
	width: 800px;
	border-style: solid;
	border-width:thin;
	background-color: lightgrey;
	margin-bottom: 100px;
}
#footer
{
	width: 1200px;
	background-color: black;
	color: lightgrey;
	text-align:center;
}
#scroll-users  {
	float:left;
	width:80px;
	height:500px;
	padding:10px;
	overflow-y:scroll;
	overflow-x:auto;
}
#scroll-conversation  {
	float:left;
	width:300px;
	height:500px;
	padding:10px;
}
#conversation  {
    margin: 0 auto;  /* zéro ou une autre valeur */
	height:100%;
	width: 100%;
	word-wrap:break-word;
    min-height: 450px;
    max-height: 450px;
	overflow-y: auto;
	overflow-x: hidden;
}
.menuVerticalConversation  {
   float:left;
   width:300px;
   border-right:1px solid black;
   height:550px;
   padding:10px;
}

.menuVerticalUsers {
   float:left;
   width:100px;
   border-right:1px solid black;
   height:550px;
   padding:10px;
}

.sticky-note {
    position: absolute;
}

.sticky-note .title {
    backgrount: transparent;
    border: none;
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.sticky-note .body {
    background: transparent;
    border: none;
    display: block;
}